<h2 class="screen-align">Create</h2>
<div id="template-i8ol" class="row">
    <div id="template-iw5l" class="cell">
        <label id="template-i6la" class="label">name</label>
        <input id="template-ipjn" [(ngModel)]="name.name" [ngModelOptions]="{standalone: true}"
        class="input form-control" />
        <button id="template-itf2" (click)="GpCreate()" class="button btn btn-primary">Create</button>
    </div>
    <div id="template-iy01" class="cell">
        <label id="template-imnw" class="label">description</label>
        <input id="template-iaeu" [(ngModel)]="name.description"
        [ngModelOptions]="{standalone: true}" class="input form-control" />
    </div>
</div>